body{
    background-color: black;
    background-image: url('./assets/background\ image.jpg');
    background-size: cover;
}
#hello{
    font-size: 50px;
    color: beige;
    margin-top:250px ;
    margin-left:150px ;
    margin-bottom: -30px;
    
}
.front{
    font-size: 60px;
    color: beige;
    margin-left: 150px;
    margin-bottom: -30px;
}
#name{
    font-size: 3;
    color: beige;
}
#kibet, #me{
    color: orange;
}
p{
    color: beige;
   

}
#navigation nav ul{
    display: flex;
    justify-content: end;
    margin: 30px;
    background-color: orange;
    border-radius: 5px;
}
#navigation nav ul li{
  
    padding: 30px;
    font-size: 20px;
    list-style: none;
}
#navigation nav ul li a{
    text-decoration: none;
    color: orange;
    background-color: black;
    padding: 5px;
    border-radius: 5px;

}
#navigation nav ul li  :hover{ 
   
    color: chartreuse;

}
footer{
    display: flex;
    align-items: center;
    border: 2px solid orange;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 90px;
}
#meet{
    color: beige;
    font-size: 50px;
    margin-top:200px ;
    margin-left: 250px;

}
#intro{
    margin-left: 250px;
    font-size: 20px;
    border: 2px solid orange;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px orange;
    width: 50%;
}

label{
    color: beige;
}
#message{
    font-size: 45px;
    margin-left: 250px;
    color: orange;
    margin-bottom: 10px;
}